.crazyspin-enter-active,
.crazyspin-leave-active {
    transition: 5s ease;
}

.crazyspin-enter-from {
    transform: translateX(-1000px) rotateZ(270deg) scale(0);
}

.crazyspin-leave-to {
    transform: translateX(1000px) rotateZ(-270deg) scale(0);
}


.v-enter-active,
.v-leave-active {
    transition: 0.5s ease;
}

.v-enter-from {
    opacity: 0;
}

.v-leave-to {
    opacity: 0;
}